

body {
    font-family: 'Nanum Barun Gothic', '돋움', '굴림', sans-serif;
    padding-top: 50px; 
}

#to-policy-page-btn {
    margin-bottom: 40px;
}

.transparent-navbar {
    background-color: rgba(1, 1, 1, 0.05);
    border: none;
}

.navbar {
    margin-bottom: 0;
}

.introduction-btn {
    margin-top: 20px;
    padding: 14px 30px;
}

.colored-btn {
    background: #dd5e19;
    color: #f1f1f1;
}

.colored-btn:hover {
    background: #cd4e09;
    color: #f1f1f1;
}

.colored-btn:active {
    background:  #dd5e19;
    color: #f1f1f1;
}

.colored-btn:focus {
    background: #cd4e09;
    color: #f1f1f1;
}

.masthread {
    padding: 50px 0;
    background-color: #0089c5;
    background-repeat: repeat-x;
    text-shadow: 0 2px 0 rgba(0,0,0,.1);
    color: #f1f1f1;
    margin-bottom: 0px;
}

.masthread-purple {
    background-color: #8049d5;
}

.subthread {
    padding: 80px 0;
}

.masthread-heading {
    font-size: 55px;
    margin-bottom: 30px;
}


.section-heading {
    font-size: 55px;
    margin-bottom: 45px;
    text-align:center;
}

.section-photo {
    float:left; 
    margin-right:30px;
}

.lead {
    text-align: justify;
}

.section-bar {
    border: solid 1px #eee;
    margin: 0px 0;
}

.stressed-span {
}


.footer-bar {
    border: solid 1px #eee;
    margin: 40px 0;
}

.footer-info {
    border-top: solid 1px #eee;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

}

.footer-info p {
    margin-bottom: 0px;
} 
.footer-info .telephone {
    margin-right: 10px;
}

.showcase .icon-container {
}
.showcase h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.showcase p {
    font-size: 16px;
}
.main-section {
    margin-top: 40px;
}

/* For the policy page */

h3.first-explaination-heading {
    border-bottom: solid 1px #ddd;
    margin-top: 0px;
}
h3.explaination-heading {
    border-bottom: solid 1px #ddd;
    margin-top: 60px;
}

h4.explaination-heading {
    border-bottom: solid 1px #ddd;
    margin-top: 20px;
}

.explaination-section p {
    font-size: 15px;
}
.explaination-section li {
    font-size: 15px;
}

.explaination-section h3 {
    font-size: 22px;
}

.explaination-section h4 {
    font-size: 18px;
    margin-top: 15px;
}

#policy-sidebar {
    margin-bottom: 40px;
}

@media (min-width: 992px) {
    #policy-sidebar {
        width: 160px;
    }
    .fixed-sidebar {
        position: fixed;
        top: 60px;
    }
}

/* For policy */
.timetable {
    float: left;
    max-width: 400px;
    margin-right: 40px;
}

.timetable thead {
    font-size: 17px;
}

.timetable tbody {
    font-size: 17px;
}

.timetable caption {
    font-size: 16px;
}

.timetable-container {
    overflow: hidden;
}

/* For entrance & entrance-form */

.form-jumbotron {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    font-size: 15px;
}

.form-jumbotron ul.nobullet {
    list-style: none;
}

.form-jumbotron p {
    font-size: 15px;
}

.form-error-span {
    color: #a94442;
    margin-top: 5px;
    font-size: 14px;
}

.form-error-alert-wrapper {
    position: fixed; 
    width: 100%;
    top: 0px;
    z-index:9999;
    margin-top: 50px;
    font-size: 16px;
}
.form-error-alert {
    margin: 0px;
}

/* For Photo */

#carousel-photo-gallery {
    margin-top: 0px;
    margin-bottom: 0px;
}

img.carousel-slide-image {
    max-height: 550px;
    margin: 0 auto;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}


#photo-left-btn span.glyphicon {
    font-size: 60px;
}

#photo-right-btn span.glyphicon {
    font-size: 60px;
}

